@import "./utils/vars";
@import "./utils/visually-hidden";
@import "./base/base";
@import "./base/reset";
@import "./components/container";
@import "./components/section";
@import "./components/header";
@import "./components/logo";
@import "./components/nav";
@import "./components/hero";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/form";
@import "./components/advantages";
@import "./components/activities";
@import "./components/team";
@import "./components/socials";
@import "./components/clients";
@import "./components/footer";
@import "./components/footerForm";
@import "./components/portfolio";
@import "./components/samples";
