.activities {
  display: flex;
  margin-right: -30px;

  &__item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
  }

  &__name {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
