.advantages {
  padding-bottom: 0;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    flex-basis: 270px;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
}
