.clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 0;
  gap: 30px;

  @media screen and (min-width: 480px) {
    justify-content: start;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 150px) / 6);
    }
  }

  &__icon {
    fill: currentColor;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
    }

    @media screen and (min-width: 480px) {
      width: 210px;
    }

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }
}
