.footer {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 60px;

    @media screen and (min-width: 768px) {
      align-items: baseline;
      flex-direction: row;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      justify-content: start;
      gap: 0;
    }
  }

  &__left {
    margin-right: 0;

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }

  &__logo {
    display: block;
    text-align: center;
    padding: 0;
    margin-right: 0;
    margin-bottom: 20px;
    color: var(--primary-white-color);

    @media screen and (min-width: 1200px) {
      display: inline-block;
      text-align: left;
    }
  }

  &__address {
    margin-bottom: 9px;
  }

  &__contacts {
    color: rgba(255, 255, 255, 0.6);
  }

  &__center {
    margin-right: 0;

    @media screen and (min-width: 1200px) {
      margin-right: auto;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__icon {
    fill: currentColor;
  }
  &__items {
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
      display: inline-block;
      text-align: left;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}
