.footer__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer__form input {
  padding-left: 16px;
  color: var(--primary-white-color);
}

.footer__form input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  margin-left: 10px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.btn-send {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 200px;
  min-height: 50px;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
}
