.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
  }

  &__position-icon {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--title-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__label-agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    cursor: pointer;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__link {
    color: var(--accent-color);
    text-decoration-line: underline;
  }

  &__btn {
    width: 200px;
    align-self: center;
  }
}

.form__field input {
  margin: 0;
  padding: 0;
  padding-left: 42px;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.form__field textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form__field:hover input,
.form__field:hover textarea {
  border: 1px solid var(--accent-color);
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__field:hover .form__icon {
  fill: var(--accent-color);
}

.form__field textarea {
  display: block;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.form__check {
  appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  transition: background-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:checked {
    outline-color: var(--accent-color);
    background-color: var(--accent-color);
    background-size: 11px 8px;
  }
}

.form__field label {
  margin-bottom: 4px;
}
