.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
  }

  &__group {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: auto;
      gap: 10px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      gap: 50px;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__contact {
    display: inline-flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}
