.hero {
  padding: 118px 0;
  background-color: #c4c4c4;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  &__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    // width: 290px;
    max-width: 360px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
      max-width: 360px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.overlay {
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  // phone screen
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/imgbg_s@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/imgbg_s@2x.jpg);
    background-size: cover;
  }

  @media screen and (min-width: 481px) {
    // tablet screen
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/imgbg_m@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/imgbg_m@2x.jpg);
      background-size: cover;
    }
  }

  @media screen and (min-width: 769px) {
    // desktop screen
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/imgbg_l@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/imgbg_l@2x.jpg);
      background-size: cover;
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
  }
}

.btn {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 24px;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  border-width: 0;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
