.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-white-color);
    color: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--primary-white-color);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
