.team {
  background-color: var(--secondary-background-color);

  &__description {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: 1200px) {
      padding-bottom: 30px;
    }
  }

  &__member {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    // margin-right: -30px;
    gap: 30px;
  }

  &__item {
    flex-basis: 100%;
    // margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
}
